# Created by Vercel CLI
NEXT_PUBLIC_SANITY_API_VERSION="2026-06-01"
NEXT_PUBLIC_SANITY_DATASET="production"
NEXT_PUBLIC_SANITY_PROJECT_ID="d205mlci"
SANITY_API_DATASET="production"
SANITY_API_PROJECT_ID="d205mlci"
SANITY_API_READ_TOKEN=
SANITY_API_WRITE_TOKEN=
SANITY_STUDIO_DATASET="production"
SANITY_STUDIO_PROJECT_ID="d205mlci"
VERCEL_OIDC_TOKEN=
KV_REST_API_URL="https://becoming-javelin-145304.upstash.io"
KV_REST_API_TOKEN=
NEXT_PUBLIC_SITE_URL=http://localhost:3000
SANITY_WEBHOOK_SECRET=
EDGE_CONFIG="https://edge-config.vercel.com/ecfg_s7awm1f0idppz3z7cks2jaxe8ywk?token=1c0c6590-1dfd-4523-ba43-f727f1306ffa"
BLOB_STORE_ID="store_PkStfibbIuX2s6R1"
BLOB_READ_WRITE_TOKEN=